extends layout

block content
    ul.breadcrumb
        li
            a(href="http://www.malt.io/") home
            span.divider /
        li sign in
    .row
        .span6
            h2 Register
            p Please sign up for a <strong>Malt<span style="opacity: 0.6">.io</span></strong> account below.
            a.btn.btn-danger.btn-social(href="/account/authorize/google") <i class="icon-google-plus-sign"></i> Register with Google
            span(style="margin: 0 12px; opacity: 0.4") - or -
            a.btn.btn-primary.btn-social.btn-facebook(href="/account/authorize/facebook") <i class="icon-facebook-sign"></i> Register with Facebook
            hr
            form(method="post")
                input(type="hidden", name="next", value="#{next || ''}")
                #input(type="hidden", name="location", value=0)
                #input(type="hidden", name="location", value=0)
                fieldset
                    div
                        .input-prepend
                            span.add-on: i.icon-user
                            input(type="text", name="email", placeholder="email", autofocus)
                    div
                        .input-prepend
                            span.add-on: i.icon-lock
                            input(type="password", name="password", placeholder="password")
                    button.btn(href="register") Register
        .span6
            h2 More Features
            p Registering for <strong>Malt<span style="opacity: 0.6">.io</span></strong> will give you more features!
            ul
                li Create and save recipes
                li Edit recipes and track your history
                li Log whenever you brew
                li Review other's brews
                li Clone recipes from other brewers
                li Follow other brewers
                li Like other's recipes
                li And more!
